<div class="container">
  <div id="journey-index" class="row">
    <div class="col-md-6 col-md-offset-1">
      <div class="itinerary-header">
        <h2> Check how <strong> green </strong> your journey is 🌱 </h2>
      </div>
      <div class="form">
        <div class="form-header">
          <h4> <i> But first: </i> Where to? 🚗 </h4>
        </div>

        <div class="form-content">
          <%= simple_form_for(@itinerary) do |f| %>
            <%= f.input :origin_destination %>
            <%= f.input :final_destination %>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
