<div id="journey-index" class="row">
<h2> This is the create page of the itinerary. </h2>
  <div class="col-md-6 col-md-offset-1">

    <fieldset id="create_itinerary_div" disabled="true">
      <%= link_to 'Confirm', create_itinerary_path, method: :post, id: 'confirm_itinerary', class: 'btn btn-success btn-block' %>
    </fieldset>

  </div>

</div>
