<div id="journey-index" class="row">
<h2> This is the create page of the itinerary. </h2>
<div class="col-md-6 col-md-offset-1">



    <%= simple_form_for(@itinerary) do |f| %>
      <%= f.input :origin_destination %>
      <%= f.input :final_destination %>
      <%= f.submit %>
    <% end %>

  </div>

</div>
