// Specific CSS for your home-page
@media only screen
  and (min-device-width: 375px)
  and (max-device-height: 812px)
  and (-webkit-device-pixel-ratio: 3) {
}

.master-container{
  padding-top: 0px;
  height: 80vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  max-width: 100%;
}

.dot {
  background: red;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  top: 58%;
  left: 50.5%;
  height: 12px;
  width: 12px
}

.dot:hover {
  background: rgb(54, 228, 54);
  transition-delay: 250ms;
}

.clock {
  font-size: 24px;
  margin: 0 .4rem;
  padding: 0 1rem;
  margin-top: 2rem;
  position: absolute;
  bottom: 6%;
  left: 33%;
}

.clock-time,
.clock-ampm {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  color: #303030;
}
