// Specific CSS for your home-page
@media only screen
  and (min-device-width: 375px)
  and (max-device-height: 812px)
  and (-webkit-device-pixel-ratio: 3) {
}

.master-container{
  padding-top: 0px;
  height: 80vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  max-width: 100%;
}

.path {
  stroke-dasharray: 100;
  animation: dash 5s linear;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.home-container{
    z-index: 15;
    position: relative;
    background: $light-gray;
    border-radius: 29px;
    box-sizing: border-box;
    margin: 0 32px;
    // overflow: hidden;
    padding: 20px;
    height: 80px;
}

.locat{
  background-color: white;
  width: 280px;
  height: 20px;
  padding: 20px;
  border-radius: 25px;
}

p {
    align-content: center;
    padding-top: 0px;
    z-index: 15;
    height: 20px;
    position: absolute;
    top: 37%;
    font-family: "Roboto";
    color:$black;
    opacity: 50%;
}



.image-top{
    padding-top: 25px;
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    max-width: 100%;
    padding-left: 53px;
    margin-top: -26px;
}



.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80px;
  height: 60px;
  cursor: pointer;
}



.arrow
{
  position: absolute;
  top: 37%;
  right: 10%;
  bottom: -2rem;
  width: 14px;
  height: 20px;

  /**
   * Dark Arrow Down
   */
  background-image: url(https://res.cloudinary.com/manuelacass/image/upload/v1630927438/3-36377_right-arrow-icon-png-right-arrow_r0tngs.png);
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-30px);
  }
  60% {
    transform: translateX(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
/* /right bounce */
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    transform: scale (0);
    display: none !important;
  }
}

/* assign bounce */
.fa-arrow-right {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  float:right;
}

.splash-img {
  background: white;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100000;
  transition: opacity 1s ease;
  // animation-direction: alternate;
  animation: fade-out 3s forwards;
}

.ap-input-icon {
  svg {
    position: absolute;
    top: 5%;
    opacity: 0%;
  }
}

#home-map{
  border-radius: 14px;
  .search_final {
    .ap-input-icon svg{
      fill: #FBFBFB !important;


    }
  }
}

.address-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FBFBFB;
  border-radius: 14px;
  &:focus-within {
    border-color: $green !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 149, 72, 0.25) !important;
  }
}
#search_final:focus {
  border: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: $green !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 149, 72, 0.25) !important;
}

.address-input{
 border-radius: 14px;
 border: 0;
 &:focus {
   border-color: none !important;
   box-shadow: none !important;
 }
}

.mapboxgl-canvas {
  border-radius: 14px;
  width: 100% !important;
}
