// Import page-specific CSS files here.
@import "home";
@import "show";
@import "new";
@import "showtravelpass";
@import "showitinerary";

.journey-index {
  background-color: black;
  padding: 16px;
}

.journey-header {
  background-color: white;
  padding: 16px;
}

.journder-panel {
  background-color: white;
  padding: 16px;
}
