// Import page-specific CSS files here.
@import "home";
@import "show";
@import "new";
@import "showtravelpass";
@import "showitinerary";

.journey-index {
  padding: 16px;
}

.journey-header {
  background-color: white;
  padding: 16px;
}

.journey-panel {
  background-color: white;
  padding: 16px;
}

.cards-wrap .card-journey {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  margin: 10px 0;
  border: 1px dashed #06bc00;
}
