 #Capa_1{
  width: 80vw;
    /* margin: auto; */
    align-items: center;
    margin-top: 50px;
}

 #Capa_2{
     width: 80vw;
    /* margin: auto; */
    align-items: center;
    margin-top: 50px;
}

 #Capa_3{
     width: 80vw;
    /* margin: auto; */
    align-items: center;
    margin-top: 50px;
 }
 #Capa_4{
    width: 80vw;
    align-items: center;
    margin-top: 50px;
}

.tree-wrapper {
  height: 70vh;
}
