 #Capa_1{
  width: 325px;
    /* margin: auto; */
    align-items: center;
    margin-left: 27px;
    margin-top: 450px;
}

 #Capa_2{
     width: 325px;
    /* margin: auto; */
    align-items: center;
    margin-left: 27px;
    margin-top: 365px;
}

 #Capa_3{
     width: 325px;
    /* margin: auto; */
    align-items: center;
    margin-left: 27px;
    margin-top: 220px;
 }
 #Capa_4{
     width: 325px;
    /* margin: auto; */
    align-items: center;
    margin-left: 27px;
    margin-top: 318px;
}
