
.form {
  z-index: 15;
  position: relative;
  background:$light-gray ;
  width: 320px;
  border-radius: 25px;
  box-shadow: 0 0 4px rgba($black, .2);
  box-sizing: border-box;
  margin: 30px auto 10px;
  // overflow: hidden;
  padding: 20px;
  // height: 190px;
}

.form-content {
  // margin: 0 0 20px;
}

.form-inputs {
  label{
    font-size: 12px;
  }
}

.inside-form {
  border-radius: 14px;
  border-color:white;
  font-family: "Roboto";

}

.button-form {
  color: white;
  background-color: $black;
  border-radius: 14px;
  width: 270px;
  height: 35px;
  border-color: $black;
}

.image-down{
  padding-top: 15px;
  height: 40vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  max-width: 100%;
  padding-left: 15px;
}

.hint-wrapper {
  min-height: 24px;
}
