.trips{
   text-align: center;
    font-size: 26px;
    margin-top: 51px;
    font-family: "Roboto";
    font-weight: bolder;
}

.point-trips{
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}

.trips-container{
    margin: auto;
    margin-left: 57px;
    margin-top: 52px;
}

.card-journey {
  position: relative;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;

  margin: 10px 0;
  color:white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 10px;

}
.time{
  position: absolute;
  right: 10px;
  top: 18px;
  line-height: 9px;
}
.km{
  position: absolute;
    right: 164px;
    top: 23px;
    line-height: 9px;
}
