
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/manuelacass/image/upload/v1630494962/logo_u8txzk.png" %>
    <% end %>
</div>


    <div class="menu-toggle">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>
    <nav class="offscreen-nav">
      <ul role="navigation" class="hidden">

        <ul class="list"> <a href="/users/sign_in">Log in</a></ul>
        <ul class="list1"><a href="/users/sign_up">Sign Up</a></ul>







      </ul>
    </nav>
