
  <br>
  <br>
<div class="home-page">
  <div class="master-container" style="background-image: url(<%= asset_url 'homepage.png' %>);"></div>
  <%= link_to new_itinerary_path do %>
    <div class="dot" id="red-dot"></div>
  <% end %>

  <div class="time">
    <h4 class="clock">
      <span class="clock-time"></span>
      <span class="clock-ampm"></span>
    </h4>
  </div>
</div>
