
  <br>
  <br>
<div class="home-page">
  <div class="master-container" style="background-image: url(<%= asset_url 'homepage.png' %>);"></div>
  <%= link_to new_itinerary_path do %>
    <div class="dot" id="red-dot"></div>
  <% end %>
</div>
