// Map in home

// #home-map {

// }


.home-map-container {
  padding: 16px 32px;
  border-radius: 14px;
}

// Map itinerary in show of journey
.map-content {
  padding: 4px;
  background-color: white;
}

#instructions {
  // position: absolute;
  margin: 20px;
  width: auto;
  top: 415px;
  bottom: 20%;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  font-family: sans-serif;
}
