// Map in home

// #home-map {

// }


.home-map-container {
  padding: 16px 32px;
  border-radius: 14px;
}

// Map itinerary in show of journey
.map-content {
  padding: 4px;
  background-color: white;
}

a.mapboxgl-ctrl-logo{
  opacity: 0;
}

