<div class="journey-show">
  <h1>Things to know about your journey</h1>

  <div class="journey-info">
    <div class="time-price">

    </div>

    <div class="emission-points">
      <p>You will be travelling by <%= @transport.name %> which emmits <%= @journey.total_emissions %> g CO2/km.</p>
      <p>This adds your tally by 100 points!</p>
    </div>
  </div>
</div>
